<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block head_title %}Keyboard Store{% endblock %}</title>
        <link href="{% static 'item/bootstrap/bootstrap.min.css'%}" rel="stylesheet" type="text/css" media=“screen">
        <link href="{% static 'item/css/styles.css'%}" rel="stylesheet" type="text/css" media="screen">
        <script src="https://kit.fontawesome.com/2d82d76c87.js" crossorigin="anonymous"></script>
        <style type="text/css">
            a { color: #6c757d; text-decoration: none;}
            a:hover { color: #343a40; text-decoration: underline;}
        </style>
    </head>
    <body>
        <!-- navbar-->
        {% include 'item/navbar.html' %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <a style="color:white; text-decoration: none;" href="/item/">
                        <h1 class="display-4 fw-bolder">Keyboard Store</h1>
                    </a>
                    <a style="text-decoration: none;" href="/item/">
                        <p class="lead fw-normal text-white-50 mb-0"><i class="far fa-keyboard"></i>&nbsp; 기계식, 무접점 키보드 쇼핑몰 &nbsp;<i class="far fa-keyboard"></i></p>
                    </a>
                </div>
            </div>

        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10">
                    {% block section%}
                    {% endblock %}
                </div>
                <div class="col-md-2 col-lg-2 mt-5">
                    <div class="mt-5">
                        {% if user.is_authenticated %}
                        {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-secondary btn-small float-right" style="width:100%;" href="/item/register_item">
                                <i class="fas fa-plus"></i> &nbsp;New Item
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <!-- Search widget-->
                    <div class="input-group mt-3">
                            <input class="form-control" type="text" id="search-input" placeholder="Search" aria-label="Search" aria-describedby="button-search">
                            <div class="input-group-append" >
                                <button class="btn btn-secondary" id="button-search" type="button" onclick="searchItem()">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                    </div>
                    <h5 class="mt-1">
                        {% if search_info %}
                            <span class="badge bg-secondary">{{search_info}}</span>
                            <button class="btn btn-sm" style="background-color: white" type="button" onclick="location.href='http://127.0.0.1:8000/item/'">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        {% endif %}
                    </h5>
                    <!-- Categories widget-->
                    <div class="card mt-2" id="categories-card">
                        <div class="card-header">
                            Categories
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <ul class="list-unstyled mb-0">
                                    {% for c in categories %}
                                        <li><a href="http://127.0.0.1:8000/item/category/{{c.slug}}/">
                                            {{c}} ({{c.item_set.count}})
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h5 class="mt-1">
                        {% if category %}
                            <span class="badge bg-secondary">{{category}}</span>
                            <button class="btn btn-sm" style="background-color: white" type="button" onclick="location.href='http://127.0.0.1:8000/item/'">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>

        <script>
            function searchItem(){
                let searchValue = document.getElementById('search-input').value.trim();
                if(searchValue.length > 1) {
                    location.href = "/item/search/" + searchValue + "/";
                }
                else {
                    alert('검색어(' + searchValue + ')가 너무 짧습니다.\n두 글자 이상 입력해주세요.');
                }
            };
            document.getElementById('search-input').addEventListener('keyup',
                    function(event) {
                        if(event.key == 'Enter') { searchItem(); }
                    }
                    )
        </script>

        <!-- Footer-->
        {% include 'item/footer.html' %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>


