{% extends 'item/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    상품 : {{ item.name }}
{% endblock %}
{% block section %}
        <!-- Book section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center" id="post-area">
                    <div class="col-md-6">
                        {% if item.image %}
                            <img class="card-img-top mb-5 mb-md-0" src="{{ item.image.url }}" alt="..." /></div>
                        {% else %}
                            <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                        {% endif %}
                    <div class="col-md-6">
                        <h2 class="fw-bolder">{{item.name}}</h2 class="fw-bolder">
                        <a href="{{item.get_absolute_url}}/detail/like/">
                            {% if user.is_authenticated%}
                            {% if user in item.like.all %}
                                <i class="fas fa-heart fa-lg"></i>
                            {% else %}
                                <i class="far fa-heart fa-lg"></i>
                            {% endif %}
                            {% endif %}
                        </a>
                        <hr />
                        <div class="fs-5 mb-5">
		                    <h6>{{ item.get_description_markdown | truncatewords_html:50 | safe}}</h6><br>
                            <h6>제조사 : {{item.company}}</h6>
		                    <h6>가격 : {{item.price}} 원</h6>
                            <h6>재고 : {{item.stock}} 개</h6>
                            <h6>배송 예정일 : {{item.delivery_date | date:"Y년 m월 d일"}}</h6>
                        </div>
                        <div class="mt-3">
                            {% if user.is_authenticated %}
                            {% if user.is_staff or user.is_superuser %}
                            <a class="btn btn-secondary btn-small" style="float:right;" href="/item/update_item/{{item.pk}}/">
                                <i class="fas fa-edit"></i> &nbsp;Update This Item
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                    <!-- Comments section-->
                    <div class="mb-5" id="comment-area">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                <form class="mb-4" id="comment-form" method="POST" action="{{item.get_absolute_url}}/new_comment/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{comment_form | crispy}}
                                    </div>
                                    <button type="submit" class="btn btn-secondary mt-1">Submit</button>
                                </form>
                                {% else %}
                                <a role="button" class="btn btn-outline-dark" href="#" data-toggle="modal" data-target="#loginModal">
                                    Log in and leave a comment
                                </a>
                                {% endif %}
                                <!-- Single comment-->
                                {% if item.comment_set.exists %}
                                {% for comment in item.comment_set.all %}
                                <div class="d-flex mt-3" id="comment-{{comment.pk}}">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{{comment.get_avatar_url}}" alt="{{comment.author}}" width="60px" />
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comment.author.username}} &nbsp;&nbsp;&nbsp;
                                            <small class="text-muted">{{comment.created_at}}</small>
                                            <!-- 삭제
                                            {% if request.user == comment.author %}
                                            <div class="mx-2" style="display:inline;">
                                                <a href="{{item.get_absolute_url}}/delete_comment/{{comment.get_comment_pk}}/" class="btn btn-sm btn-outline-secondary">삭제</a>
                                            </div>
                                            {% endif %}
                                            -->
                                        </div>
                                        <p>{{comment.content | linebreaks}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock %}


                        <a href="{{item.get_absolute_url}}/like/">
                                    {% if user in item.like.all %}
                                        <i class="fas fa-heart fa-lg"></i>
                                    {% else %}
                                        <i class="far fa-heart"></i>
                                    {% endif %}