{% extends 'item/base.html' %}
{% block head_title %}
    도서 : {{ item.name }}
{% endblock %}
{% block section %}
        <!-- Book section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center" id="post-area">
                    <div class="col-md-6">
                        {% if item.image %}
                            <img class="card-img-top mb-5 mb-md-0" src="{{ item.image.url }}" alt="..." /></div>
                        {% else %}
                            <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                        {% endif %}
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">상품명 : {{item.name}}</h1>
                        <div class="fs-5 mb-5">
		                    <span>상품 설명 : {{item.description}}</span><br>
		                    <span>상품 가격 : {{item.price}}</span>
                        </div>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
